FORMAT: 1A
HOST: https://paperhub.io/dev/backend/branches/master

# PaperHub API v0

# Group Users
User related resources of the *PaperHub API*.

## User [/users/{id}]
+ Model (application/json)
    + Body

            {
              "_id": "54db502f8a9e25e834e3c3f4",
              "username": "andrenarchy",
              "familyName": "Gaul",
              "givenNames": "André",
              "displayName": "André Gaul",
              "email": "andre@gaul.io",
              "gravatarMd5": "daa7eedcfae667756a452c79d4b30d6a",
              "accounts": [
                {
                  "_id": "54db502f8a9e25e834e3c3f5",
                  "id": "0000-0003-2977-4037",
                  "type": "orcid"
                }
              ],
              "firstSignin": false,
              "settings": {
                "remember": true
              },
              "createdAt": "2015-02-11T12:50:55.283Z",
              "updatedAt": "2015-03-09T14:47:59.938Z"
            }

### Retrieve a user [GET]
+ Response 200 (application/json)
    + Body

            {
              "_id": "54db502f8a9e25e834e3c3f4",
              "username": "andrenarchy",
              "familyName": "Gaul",
              "givenNames": "André",
              "displayName": "André Gaul",
              "email": "andre@gaul.io",
              "gravatarMd5": "daa7eedcfae667756a452c79d4b30d6a",
              "accounts": [
                {
                  "_id": "54db502f8a9e25e834e3c3f5",
                  "id": "0000-0003-2977-4037",
                  "type": "orcid"
                }
              ],
              "firstSignin": false,
              "settings": {
                "remember": true
              },
              "createdAt": "2015-02-11T12:50:55.283Z",
              "updatedAt": "2015-03-09T14:47:59.938Z"
            }

+ Request
    + Headers

            X-Auth-Token: e1289dd4dec21ddfef4672fa23906f20
    
+ Response 200
    [User][]

### Update a user [PUT]
+ Request (application/json)
    + Headers

            X-Auth-Token: e1289dd4dec21ddfef4672fa23906f20

    + Body

            {
              "username": "andrenarchy",
              "familyName": "Gaul",
              "givenNames": "André",
              "displayName": "André Gaul",
              "settings": {
                "remember": true
              },
            }

+ Response 200
    [User][]
            

## User ORCID sync [/users/{id}/syncFromOrcid/{orcidId}]

### Update user from linked ORCID account [PUT]
+ Response 200
    [User][]


# Group Articles

## Article [/articles/{id}]
+ Model (application/json)
    + Body

            {
              "_id": "54f480d81217ec3c49af08a3",
              "title": "Preconditioned Recycling Krylov subspace methods for self-adjoint problems",
              "authors": [
                "André Gaul",
                "Nico Schlömer"
              ],
              "publishedAt": "2015-01-07T17:08:36.000Z",
              "abstract": "The authors propose a recycling...",
              "tags": [
                "math.NA",
                "physics.comp-ph",
                "65F10, 65F08, 35Q55, 35Q56"
              ],
              "public": true,
              "source": {
                "url": "http://arxiv.org/abs/1208.0264v4",
                "name": "arXiv.org",
                "id": "1208.0264v4",
                "type": "arxiv"
              },
              "file": {
                "sha": "748b8dcc0eebe4b3ba6345f80bdfc86d36118fe5",
                "url": "http://localhost:8000/proxy?url=http%3A%2F%2Farxiv.org%2Fpdf%2F1208.0264v4.pdf"
              },
              "importedBy": {
                "_id": "54db502f8a9e25e834e3c3f4",
                "username": "andrenarchy",
                "displayName": "André Gaul",
                "gravatarMd5": "ad928555ed989896aeaeb2b88db2163f"
              },
              "createdAt": "2015-03-02T15:25:15.681Z",
              "updatedAt": "2015-03-02T15:25:15.681Z"
            }

### Retrieve article [GET]
+ Response 200
    [Article][]

## Article import from approved sources [/articles/sources]

### Test if article can be imported [GET]
+ Request (application/json)
    + Headers
    
            X-Auth-Token: e1289dd4dec21ddfef4672fa23906f20

+ Response 200 (application/json)
    + Body

            {
              "publishedAt": "2014-06-12T13:55:10Z",
              "authors": [
                "André Gaul",
                "Nico Schlömer"
              ],
              "source": {
                "id": "1208.0264v3",
                "type": "arxiv"
              },
              "abstract": "The authors propose a recycling Krylov subspace method for the solution of a\nsequence of self-adjoint linear systems. Such problems appear, for example, in\nthe Newton process for solving nonlinear equations. Ritz vectors are\nautomatically extracted from one MINRES run and then used for self-adjoint\ndeflation in the next. The method is designed to work with arbitrary inner\nproducts and arbitrary self-adjoint positive-definite preconditioners whose\ninverse can be computed with high accuracy. Numerical experiments with\nnonlinear Schr\\\"odinger equations indicate a substantial decrease in\ncomputation time when recycling is used.",
              "title": "Preconditioned Recycling Krylov subspace methods for self-adjoint problems",
              "tags": [
                "math.NA",
                "physics.comp-ph",
                "65F10, 65F08, 35Q55, 35Q56"
              ],
              "public": true
            }
            
### Import article [POST]
+ Request
    + Headers
    
            X-Auth-Token: e1289dd4dec21ddfef4672fa23906f20

+ Response 200
    [Article][]

# Group Annotations
Annotation related resources of the *PaperHub API*.

## Annotation creation [/annotations/]

### Create an annotation [POST]
+ Request (application/json)
    + Headers
    
            X-Auth-Token: e1289dd4dec21ddfef4672fa23906f20

    + Body

            {
              "article_id": "90b29e86-819d-41f7-a53f-5ab76a403ef6",
              "target": {
                "type": "FragmentSelector",
                "page": 5,
                "x": 0,
                "y": 1,
                "w": 2,
                "h": 3
              },
              "body": {
                "type": "markdown",
                "value": "# A header\nA text"
              }
            }


    + Schema

            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://paperhub.io/api/v0/schemas/annotation_post.json#",
              "description": "PaperHub annotation schema for POSTing",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "$schema": {
                  "enum": ["http://paperhub.io/api/v0/schemas/annotation_post.json#"]
                },
                "article_id": { "type": "string" },
                "target": {
                  "oneOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "type": { "enum": ["FragmentSelector"] },
                        "page": { "type": "integer", "minimum": 1 },
                        "x": { "type": "number" },
                        "y": { "type": "number" },
                        "w": { "type": "number" },
                        "h": { "type": "number" }
                      },
                      "required": ["type", "page", "x", "y", "w", "h"]
                    }
                  ]
                }, 
                "body": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "type": { "enum": ["markdown"] },
                    "value": { "type": "string" },
                    "language": { "type": "string" }
                  },
                  "required": ["type", "value"]
                }
              },
              "required": ["article_id", "target", "body"]
            }

+ Response 201 (application/json)

            {
              "id": "235f7939-b83a-4f23-904a-b8454ed01c12",
              "created_at": "2014-10-21T22:30:26.778Z",
              "modified_at": "2014-10-21T22:30:26.778Z",
              "article_id": "90b29e86-819d-41f7-a53f-5ab76a403ef6",
              "target": {
                "type": "FragmentSelector",
                "page": 5,
                "x": 0,
                "y": 1,
                "w": 2,
                "h": 3
              },
              "body": {
                "type": "markdown",
                "value": "# A header\nA text"
              }
            }

## Annotation [/annotations/{id}]

### Retrieve an annotation [GET]
+ Response 200 (application/json)

    + Body
    
            { "TODO": true }

### Update an annotation [PUT]
+ Request
    + Headers
    
            X-Auth-Token: e1289dd4dec21ddfef4672fa23906f20

+ Response 200

    + Body
    
            Same as POST.

### Delete an annotation [DELETE]
+ Request
    + Headers
    
            X-Auth-Token: e1289dd4dec21ddfef4672fa23906f20

+ Response 204

## Annotations collection [/annotations?article={article_id}&order={order}&skip={skip}&limit={limit}&author={user_id}]

### Retrieve or query annotations [GET]
+ Parameters
    + article (optional, article_id) ... Return annotations corresponding to the given article
    + order = `created_at` (optional, string) ... The order of the returned annotations list
    
        + Values
            + `created_at`
            + `-created_at`
            + `article`
            + `-article`
    
    + author (optional, user_id) ... Return annotations authored by the given user 
    + limit (optional, number) ... Maximum number of returned annotations
    + skip (optional, number) ... Number of skipped annotations
    
+ Request

    + Headers
    
            X-Auth-Token: e1289dd4dec21ddfef4672fa23906f20

+ Response 200 (application/json)

    + Body
        
            { "TODO": true }


